examples/Testing.json
[{"id":"f2905bec.ff4608","type":"tab","label":"Requirement Analysis & Experimentation","disabled":false,"info":""},{"id":"c2fe401f.61328","type":"tab","label":"Unit Testing","disabled":false,"info":""},{"id":"eb899f2c.f296c","type":"tab","label":"System Integration","disabled":false,"info":""},{"id":"3d8da06d.60224","type":"tab","label":"Performance Testing","disabled":false,"info":""},{"id":"4a33482.beefdb8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"af91de5d.12d65","type":"ui_tab","z":"","name":"node-red-contrib-stt-utils","icon":"dashboard","disabled":false,"hidden":false},{"id":"263482d1.f6f07e","type":"ui_group","z":"","name":"System Integration","tab":"af91de5d.12d65","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac6ea6e.ca4b658","type":"Mic","z":"f2905bec.ff4608","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"32","encoding":"unsinged-integer","channels":"1","device":"plughw:1,0","rate":"16000","silenceTimeout":0,"exitOnSilence":"false","debug":"false","active":true,"x":150,"y":180,"wires":[["d0a2c9f8.eeb9b8"]]},{"id":"88f1acfd.481a","type":"file","z":"f2905bec.ff4608","name":"","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\og16.pcm","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":800,"y":220,"wires":[[]]},{"id":"21f0d4f4.254b1c","type":"file","z":"f2905bec.ff4608","name":"","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\vad16.pcm","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":800,"y":180,"wires":[[]]},{"id":"4c80b87d.455cc8","type":"comment","z":"f2905bec.ff4608","name":"node-vad testing notes","info":"This flow streams audio to files, filtering out the silence on one of them. The file vad16 should contain the same speach as og16 but with much of the silence removed, depending on aggression and debounce.\n\nvlc --demux rawaud --rawaud-channels 1 --rawaud-samplerate 16000 vad16.pcm\n\nvlc --demux rawaud --rawaud-channels 1 --rawaud-samplerate 16000 og16.pcm","x":200,"y":220,"wires":[]},{"id":"d0a2c9f8.eeb9b8","type":"pcm-format","z":"f2905bec.ff4608","name":"","input":"false","insigned":"true","inbitdepth":32,"output":"false","outsigned":"true","outbitdepth":16,"x":310,"y":180,"wires":[["7003b71.9026d48","88f1acfd.481a"]]},{"id":"7003b71.9026d48","type":"node-vad","z":"f2905bec.ff4608","name":"","mode":"Normal","samplerate":"16000","timeout":"5000","debounce":1000,"x":480,"y":180,"wires":[["21f0d4f4.254b1c"]]},{"id":"bdcc13db.f997e","type":"debug","z":"f2905bec.ff4608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":280,"wires":[]},{"id":"ae5ba280.0f313","type":"Mic","z":"f2905bec.ff4608","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"32","encoding":"unsinged-integer","channels":"1","device":"plughw:1,0","rate":"16000","silenceTimeout":0,"exitOnSilence":"false","debug":"false","active":true,"x":160,"y":280,"wires":[["1dc46299.c7dd1d"]]},{"id":"3c2703e.86ed5fc","type":"file","z":"f2905bec.ff4608","name":"","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\stt-vad.pcm","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":810,"y":360,"wires":[[]]},{"id":"1dc46299.c7dd1d","type":"pcm-format","z":"f2905bec.ff4608","name":"","input":"false","insigned":"true","inbitdepth":32,"output":"false","outsigned":"true","outbitdepth":16,"x":320,"y":280,"wires":[["1c371b04.3db5f5"]]},{"id":"1c371b04.3db5f5","type":"node-vad","z":"f2905bec.ff4608","name":"","mode":"Normal","samplerate":"16000","timeout":"5000","debounce":"1000","x":490,"y":280,"wires":[["3c2703e.86ed5fc","ec3b358e.6c4e18","9aa63e00.719e6"]]},{"id":"3fa2da2e.bc1b66","type":"file","z":"f2905bec.ff4608","name":"","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\test.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":700,"y":480,"wires":[[]]},{"id":"e453cb95.f529d8","type":"inject","z":"f2905bec.ff4608","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"This is some test text to send to file.","payloadType":"str","x":320,"y":480,"wires":[["3fa2da2e.bc1b66"]]},{"id":"ec3b358e.6c4e18","type":"stt","z":"f2905bec.ff4608","name":"","model":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Deepspeech\\deepspeech-0.8.0-models.pbmm","scorer":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Deepspeech\\deepspeech-0.8.0-models.scorer","beam":"1000","timeout":"","single":false,"x":660,"y":280,"wires":[["bdcc13db.f997e"]]},{"id":"9aa63e00.719e6","type":"debug","z":"f2905bec.ff4608","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":360,"wires":[]},{"id":"a425a943.1f3958","type":"debug","z":"f2905bec.ff4608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":580,"wires":[]},{"id":"ff2d98ca.376278","type":"stt","z":"f2905bec.ff4608","name":"","model":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Deepspeech\\deepspeech-0.8.0-models.pbmm","scorer":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Deepspeech\\deepspeech-0.8.0-models.scorer","beam":"1000","timeout":"1000","single":true,"x":620,"y":580,"wires":[["a425a943.1f3958"]]},{"id":"6f538469.47dd2c","type":"Mic","z":"f2905bec.ff4608","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"32","encoding":"unsinged-integer","channels":"1","device":"plughw:1,0","rate":"16000","silenceTimeout":0,"exitOnSilence":"false","debug":"false","active":true,"x":130,"y":540,"wires":[["ab2b3531.fa2d38"]]},{"id":"727d95c4.9504ec","type":"join","z":"f2905bec.ff4608","name":"","mode":"custom","build":"buffer","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":420,"y":600,"wires":[["ff2d98ca.376278"]]},{"id":"ab2b3531.fa2d38","type":"pcm-format","z":"f2905bec.ff4608","name":"","input":"false","insigned":"true","inbitdepth":32,"output":"false","outsigned":"true","outbitdepth":16,"x":270,"y":580,"wires":[["727d95c4.9504ec"]]},{"id":"5566608c.5d302","type":"debug","z":"f2905bec.ff4608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":660,"wires":[]},{"id":"6a0bea13.1ad6e4","type":"stt","z":"f2905bec.ff4608","name":"","model":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Deepspeech\\deepspeech-0.8.0-models.pbmm","scorer":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Deepspeech\\deepspeech-0.8.0-models.scorer","beam":"1000","timeout":"1000","single":true,"x":610,"y":660,"wires":[["5566608c.5d302"]]},{"id":"f23fa84b.8d2db8","type":"microphone","z":"f2905bec.ff4608","name":"","x":300,"y":680,"wires":[["6a0bea13.1ad6e4"]]},{"id":"e4bcfb28.cb32e8","type":"Mic","z":"f2905bec.ff4608","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"32","encoding":"unsinged-integer","channels":"1","device":"plughw:1,0","rate":"16000","silenceTimeout":0,"exitOnSilence":"false","debug":"false","active":true,"x":150,"y":40,"wires":[["d681dc38.c5181"]]},{"id":"d681dc38.c5181","type":"file","z":"f2905bec.ff4608","name":"","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\mic.raw","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":450,"y":40,"wires":[[]]},{"id":"6f7943d6.f2677c","type":"file","z":"f2905bec.ff4608","name":"","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\browserutil.raw","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":510,"y":80,"wires":[[]]},{"id":"432ea613.ed8988","type":"microphone","z":"f2905bec.ff4608","name":"","x":170,"y":80,"wires":[["6f7943d6.f2677c"]]},{"id":"16398524.19705b","type":"ui_microphone","z":"f2905bec.ff4608","d":true,"group":"263482d1.f6f07e","order":6,"width":"1","height":"1","name":"","maxLength":5,"timeslice":0,"x":150,"y":120,"wires":[["ca2fe4a.1350a18"]]},{"id":"ca2fe4a.1350a18","type":"file","z":"f2905bec.ff4608","name":"","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\dashboard.raw","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":510,"y":120,"wires":[[]]},{"id":"2a70a6e3.0c42ca","type":"ui_microphone","z":"eb899f2c.f296c","group":"263482d1.f6f07e","order":2,"width":"0","height":"0","name":"Record Snippet","maxLength":"60","timeslice":0,"x":260,"y":140,"wires":[["21899681.d76f6a"]]},{"id":"164c2f65.871341","type":"ui_text","z":"eb899f2c.f296c","group":"263482d1.f6f07e","order":7,"width":"6","height":"1","name":"","label":"Output: ","format":"{{msg.payload}}","layout":"row-center","x":1060,"y":140,"wires":[]},{"id":"e7385e7.326f4a","type":"stt","z":"eb899f2c.f296c","name":"","model":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Deepspeech\\deepspeech-0.8.0-models.pbmm","scorer":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Deepspeech\\deepspeech-0.8.0-models.scorer","beam":"500","timeout":"5000","single":false,"x":910,"y":140,"wires":[["164c2f65.871341","5deb0dec.43d4e4"]]},{"id":"21899681.d76f6a","type":"wav-decode","z":"eb899f2c.f296c","name":"","x":430,"y":140,"wires":[["be5cd73c.fd0688"]]},{"id":"be5cd73c.fd0688","type":"pcm-resample","z":"eb899f2c.f296c","name":"","inrate":"44100","outrate":"16000","channels":"1","quality":"5","x":600,"y":140,"wires":[["aaad7af0.cd4d58"]]},{"id":"5deb0dec.43d4e4","type":"debug","z":"eb899f2c.f296c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":180,"wires":[]},{"id":"671079df.dbacc8","type":"Mic","z":"eb899f2c.f296c","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","device":"default","rate":"16000","silenceTimeout":0,"exitOnSilence":"false","debug":"false","active":true,"x":430,"y":200,"wires":[["425c23b8.67e8ac"]]},{"id":"44f50665.41d4f8","type":"microphone","z":"eb899f2c.f296c","name":"","x":110,"y":260,"wires":[["ccf9f142.be05e"]]},{"id":"9665d8dc.5f95e8","type":"ui_button","z":"eb899f2c.f296c","name":"","group":"263482d1.f6f07e","order":4,"width":0,"height":0,"passthru":false,"label":"Record","tooltip":"","color":"","bgcolor":"","icon":"","payload":"start","payloadType":"str","topic":"","x":280,"y":180,"wires":[["671079df.dbacc8"]]},{"id":"6c817625.b28f08","type":"ui_button","z":"eb899f2c.f296c","name":"","group":"263482d1.f6f07e","order":5,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":290,"y":220,"wires":[["671079df.dbacc8"]]},{"id":"425c23b8.67e8ac","type":"pcm-format","z":"eb899f2c.f296c","name":"","input":"false","insigned":"true","inbitdepth":"32","output":"false","outsigned":"true","outbitdepth":"16","x":570,"y":200,"wires":[["aaad7af0.cd4d58"]]},{"id":"2330e8fb.5b5048","type":"function","z":"eb899f2c.f296c","name":"","func":"buffer_in = msg.payload;\nbuffer_out = Buffer.alloc(msg.payload.length/2);\n\nlet i = 0;\nfor (i=0; i <msg.payload.length/4; i++) {\n    //console.log(buffer_in.readInt16LE(i*4));\n    buffer_out.writeInt16LE(buffer_in.readInt16LE(i*4), i*2)\n}\n\nmsg = {};\nmsg.payload = buffer_out\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":260,"wires":[["9878f4ef.cabc08"]]},{"id":"ccf9f142.be05e","type":"wav-decode","z":"eb899f2c.f296c","name":"","x":270,"y":260,"wires":[["2330e8fb.5b5048"]]},{"id":"9878f4ef.cabc08","type":"pcm-resample","z":"eb899f2c.f296c","name":"","inrate":"48000","outrate":"16000","channels":"1","quality":"5","x":580,"y":260,"wires":[["aaad7af0.cd4d58"]]},{"id":"9158d3ad.62b05","type":"inject","z":"eb899f2c.f296c","name":"Reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":890,"y":260,"wires":[["164c2f65.871341"]]},{"id":"6a7ebc78.2ef544","type":"ui_text","z":"eb899f2c.f296c","group":"263482d1.f6f07e","order":1,"width":0,"height":0,"name":"","label":"Record Snippet","format":"{{msg.payload}}","layout":"col-center","x":260,"y":380,"wires":[]},{"id":"d0b9c6c3.45e748","type":"ui_text","z":"eb899f2c.f296c","group":"263482d1.f6f07e","order":3,"width":0,"height":0,"name":"","label":"Continual Recording","format":"{{msg.payload}}","layout":"col-center","x":240,"y":420,"wires":[]},{"id":"21fed7d7.ef1278","type":"fileinject","z":"3d8da06d.60224","name":"Input","x":130,"y":60,"wires":[["465b8e93.3fe","e3f9077b.69c0e8"]]},{"id":"16d19a62.2f7c46","type":"pcm-resample","z":"3d8da06d.60224","name":"","inrate":"48000","outrate":"16000","channels":"1","quality":"5","x":680,"y":60,"wires":[["54e51ca3.265294","99d7c39c.ffaf4"]]},{"id":"7b3af691.a1b308","type":"pcm-format","z":"3d8da06d.60224","name":"","input":"false","insigned":"true","inbitdepth":"32","output":"false","outsigned":"true","outbitdepth":"16","x":490,"y":60,"wires":[["16d19a62.2f7c46","93830726.516198"]]},{"id":"e3f9077b.69c0e8","type":"wav-decode","z":"3d8da06d.60224","name":"","x":310,"y":60,"wires":[["7b3af691.a1b308","62782754.11c008"]]},{"id":"fa6ec21b.805ba","type":"stt","z":"3d8da06d.60224","name":"","model":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Deepspeech\\deepspeech-0.8.0-models.pbmm","scorer":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Deepspeech\\deepspeech-0.8.0-models.scorer","beam":"","timeout":"5000","single":false,"x":1090,"y":60,"wires":[["e38f6037.7171a","5c7717c7.9265e8","33c2f096.53489"]]},{"id":"e38f6037.7171a","type":"debug","z":"3d8da06d.60224","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":60,"wires":[]},{"id":"465b8e93.3fe","type":"function","z":"3d8da06d.60224","name":"Timestamp","func":"msg = {};\nmsg.payload = Date.now();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":120,"wires":[["3eda92ff.027f5e"]]},{"id":"62782754.11c008","type":"function","z":"3d8da06d.60224","name":"Timestamp","func":"msg = {};\nmsg.payload = Date.now();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":120,"wires":[["fd1787a3.aea908"]]},{"id":"93830726.516198","type":"function","z":"3d8da06d.60224","name":"Timestamp","func":"msg = {};\nmsg.payload = Date.now();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":120,"wires":[["88070846.ff6ec8"]]},{"id":"54e51ca3.265294","type":"function","z":"3d8da06d.60224","name":"Timestamp","func":"msg = {};\nmsg.payload = Date.now();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":120,"wires":[["565360ba.e7e6e"]]},{"id":"ebe53a59.1a9fb8","type":"function","z":"3d8da06d.60224","name":"Timestamp","func":"if (msg.complete){\n    msg = {};\n    msg.payload = \"Complete: \"\n} else {\n    msg = {};\n    msg.payload = \"\";\n}\nmsg.payload += Date.now();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":120,"wires":[["d0c37c1d.5e345"]]},{"id":"5c7717c7.9265e8","type":"function","z":"3d8da06d.60224","name":"Timestamp","func":"msg = {};\nmsg.payload = Date.now();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":120,"wires":[["a9c235e2.631998"]]},{"id":"651531d3.86c4c","type":"comment","z":"3d8da06d.60224","name":"SoX command for recording","info":"sox -t waveaudio default -r 48k -c 1 -e signed-integer -t wav -b 32 PhraseA.wav","x":180,"y":240,"wires":[]},{"id":"3eda92ff.027f5e","type":"file","z":"3d8da06d.60224","name":"START","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\Start.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":140,"y":180,"wires":[[]]},{"id":"fd1787a3.aea908","type":"file","z":"3d8da06d.60224","name":"DECODE","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\Decode.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":320,"y":180,"wires":[[]]},{"id":"565360ba.e7e6e","type":"file","z":"3d8da06d.60224","name":"RESAMPLE","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\Resample.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":690,"y":180,"wires":[[]]},{"id":"88070846.ff6ec8","type":"file","z":"3d8da06d.60224","name":"BITDEPTH","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\Bitdepth.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":490,"y":180,"wires":[[]]},{"id":"d0c37c1d.5e345","type":"file","z":"3d8da06d.60224","name":"VAD","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\VAD.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":890,"y":180,"wires":[[]]},{"id":"a9c235e2.631998","type":"file","z":"3d8da06d.60224","name":"DEEPSPEECH","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\Deepspeech.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1080,"y":180,"wires":[[]]},{"id":"33c2f096.53489","type":"file","z":"3d8da06d.60224","name":"OUTPUT","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\Output.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1260,"y":120,"wires":[[]]},{"id":"240bc8ea.211318","type":"wav-decode","z":"c2fe401f.61328","name":"","x":350,"y":60,"wires":[["c59a7ac3.76d318","84d6a04a.f8f4f"]]},{"id":"800fd6c2.1ef3d8","type":"microphone","z":"c2fe401f.61328","name":"","x":150,"y":60,"wires":[["240bc8ea.211318","9186cc01.86a6d"]]},{"id":"c59a7ac3.76d318","type":"file","z":"c2fe401f.61328","name":"","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\Unit\\wav_decode.raw","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":730,"y":60,"wires":[[]]},{"id":"9186cc01.86a6d","type":"file","z":"c2fe401f.61328","name":"","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\Unit\\wav_decode.wav","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":740,"y":140,"wires":[[]]},{"id":"84d6a04a.f8f4f","type":"debug","z":"c2fe401f.61328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"format","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"d766ca21.91c9d8","type":"file","z":"c2fe401f.61328","name":"","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\Unit\\16.pcm","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":800,"y":200,"wires":[[]]},{"id":"535574f7.b84bac","type":"Mic","z":"c2fe401f.61328","name":"","outputPayloadType":"buffer","endian":"little","bitwidth":"32","encoding":"unsinged-integer","channels":"1","device":"plughw:1,0","rate":"16000","silenceTimeout":0,"exitOnSilence":"false","debug":"false","active":true,"x":130,"y":200,"wires":[["af556c57.1dcba"]]},{"id":"af556c57.1dcba","type":"join","z":"c2fe401f.61328","name":"","mode":"custom","build":"buffer","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"10","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":200,"wires":[["3406a990.d99786","b8219a47.2c02a8"]]},{"id":"3406a990.d99786","type":"pcm-format","z":"c2fe401f.61328","name":"","input":false,"insigned":true,"inbitdepth":32,"output":false,"outsigned":true,"outbitdepth":16,"x":440,"y":200,"wires":[["d766ca21.91c9d8"]]},{"id":"b8219a47.2c02a8","type":"file","z":"c2fe401f.61328","name":"","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\Unit\\32.pcm","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":800,"y":240,"wires":[[]]},{"id":"29e7a14c.57c19e","type":"comment","z":"c2fe401f.61328","name":"pcm-format testing notes","info":"This flow is configured to record 10 seconds of audio from SoX for testing purposes, you can then open the audio in vlc to check it's functionality.\n\nvlc --demux rawaud --rawaud-channels 1 --rawaud-samplerate 16000 16.pcm\n\nvlc --demux rawaud --rawaud-channels 1 --rawaud-samplerate 16000 --rawaud-fourcc s32l 32.pcm","x":170,"y":240,"wires":[]},{"id":"b1c3b840.59d388","type":"comment","z":"c2fe401f.61328","name":"wav-decode testing notes","info":"Use fhred or another hex editor to inspect the outputs to check that the audio data is the same, and that it's correctly identified the formatting in the .wav header\n\nThe browser-utils mic, using google chrome, records in 2-channel, 16-bit signed int, at 48000 Hz","x":170,"y":100,"wires":[]},{"id":"79c594d5.6bc6bc","type":"fileinject","z":"c2fe401f.61328","name":"","x":140,"y":320,"wires":[["b5f4a5f4.0b4688"]]},{"id":"b5f4a5f4.0b4688","type":"pcm-resample","z":"c2fe401f.61328","name":"","inrate":"48000","outrate":"16000","channels":"1","quality":"5","x":320,"y":320,"wires":[["5594a2a9.e116dc"]]},{"id":"5594a2a9.e116dc","type":"file","z":"c2fe401f.61328","name":"","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\Unit\\resampled.pcm","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":690,"y":320,"wires":[[]]},{"id":"83433a36.4b46f8","type":"comment","z":"c2fe401f.61328","name":"pcm-resample testing notes","info":"Audio was recorded for this test using the following sox command:\n\nsox -t waveaudio default -r 48k -c 1 -e signed-integer -b 16 resample.raw\n\nThe vlc commands for playing the audio are listed below:\n\nvlc --demux rawaud --rawaud-channels 1 --rawaud-samplerate 48000 resample.raw\n\nvlc --demux rawaud --rawaud-channels 1 --rawaud-samplerate 16000 resampled.pcm","x":180,"y":360,"wires":[]},{"id":"5256f9af.e7e848","type":"node-vad","z":"c2fe401f.61328","name":"","mode":"VeryAggressive","samplerate":"16000","timeout":"5000","debounce":"500","x":300,"y":460,"wires":[["3fdec201.9564fe","3f3fe318.f5eeec"]]},{"id":"3fdec201.9564fe","type":"file","z":"c2fe401f.61328","name":"","filename":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Testing\\Unit\\silence_removed.pcm","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":690,"y":460,"wires":[[]]},{"id":"3f3fe318.f5eeec","type":"join","z":"c2fe401f.61328","name":"","mode":"custom","build":"buffer","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":500,"wires":[["93e359ea.4021a8"]]},{"id":"93e359ea.4021a8","type":"debug","z":"c2fe401f.61328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":500,"wires":[]},{"id":"f72d7cb7.ebf29","type":"comment","z":"c2fe401f.61328","name":"node-vad testing notes","info":"Audio was recorded for this test using the following sox command:\n\nsox -t waveaudio default -r 16k -c 1 -e signed-integer -b 16 sample_audio.raw\n\nThe vlc commands for playing the output is listed below:\n\nvlc --demux rawaud --rawaud-channels 1 --rawaud-samplerate 16000 silence_removed.pcm\n\nThe join node should output a few variable sized buffers to the debug console, not a uniform stream of tiny buffers.","x":160,"y":500,"wires":[]},{"id":"db1f050d.bd3168","type":"fileinject","z":"c2fe401f.61328","name":"","x":140,"y":460,"wires":[["5256f9af.e7e848"]]},{"id":"aaad7af0.cd4d58","type":"node-vad","z":"eb899f2c.f296c","name":"","mode":"VeryAggressive","samplerate":"16000","timeout":"5000","debounce":"1000","x":780,"y":140,"wires":[["e7385e7.326f4a"]]},{"id":"99d7c39c.ffaf4","type":"node-vad","z":"3d8da06d.60224","name":"","mode":"Aggressive","samplerate":"16000","timeout":"5000","debounce":"500","x":880,"y":60,"wires":[["fa6ec21b.805ba","ebe53a59.1a9fb8"]]},{"id":"8d5ffed2.f733e","type":"pcm-resample","z":"c2fe401f.61328","name":"","inrate":"44100","outrate":"16000","channels":"1","quality":"5","x":400,"y":820,"wires":[[]]},{"id":"d81381e.063718","type":"pcm-format","z":"c2fe401f.61328","name":"","input":"false","insigned":"true","inbitdepth":"32","output":"false","outsigned":"true","outbitdepth":"16","x":390,"y":860,"wires":[[]]},{"id":"c8d31c90.52614","type":"wav-decode","z":"c2fe401f.61328","name":"","x":390,"y":780,"wires":[[]]},{"id":"c94b2618.6974e8","type":"node-vad","z":"c2fe401f.61328","name":"","mode":"Normal","samplerate":"16000","timeout":"5000","debounce":1000,"x":380,"y":740,"wires":[[]]},{"id":"8929b911.d9dd08","type":"fileinject","z":"c2fe401f.61328","name":"","x":150,"y":820,"wires":[["c94b2618.6974e8","c8d31c90.52614","8d5ffed2.f733e","d81381e.063718","a0466dc0.a95f4"]]},{"id":"a0466dc0.a95f4","type":"stt","z":"c2fe401f.61328","name":"","model":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Deepspeech\\deepspeech-0.8.0-models.pbmm","scorer":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Deepspeech\\deepspeech-0.8.0-models.scorer","beam":"500","timeout":"5000","single":false,"x":370,"y":900,"wires":[[]]},{"id":"2d51efc5.44984","type":"inject","z":"c2fe401f.61328","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":780,"wires":[["c94b2618.6974e8","c8d31c90.52614","8d5ffed2.f733e","d81381e.063718","a0466dc0.a95f4"]]},{"id":"93e3d49a.e67868","type":"stt","z":"c2fe401f.61328","name":"","model":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Deepspeech\\deepspeech-0.8.0-models.pbmm","scorer":"C:\\Users\\Joshua Pimm\\Desktop\\IoT Bear\\Deepspeech\\deepspeech-0.8.0-models.scorer","beam":"5000","timeout":"5000","single":false,"x":290,"y":600,"wires":[["466c5ebf.d918c"]]},{"id":"8a004461.3d5c38","type":"fileinject","z":"c2fe401f.61328","name":"","x":140,"y":600,"wires":[["93e3d49a.e67868"]]},{"id":"466c5ebf.d918c","type":"debug","z":"c2fe401f.61328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":600,"wires":[]},{"id":"763e9b30.ad05f4","type":"comment","z":"c2fe401f.61328","name":"node-vad testing notes","info":"Use this command to record audio and stick it in there.\n\nsox -t waveaudio default -r 16k -c 1 -e signed-integer -b 16 sample_audio.raw\n","x":160,"y":640,"wires":[]}]